@import "tailwindcss";


body {
  
  font-family: Arial, Helvetica, sans-serif;
}

.prose h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-top: 2rem;
  color: #111827;
}

.prose h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  color: #1e40af;
}

.prose h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.prose p {
  line-height: 1.9;
}

.prose code {
  background: #111827;
  color: white;
  padding: 2px 6px;
  border-radius: 5px;
}